.kvl-row,
.kvl-row-inner,
.kvl-key,
.kvl-key-inner,
.kvl-value {
    display: inline-block;
}

.kvl-row-inner {
    display: flex;
    justify-content: flex-start;
}

.kvl-row.kvl-row-even.striped {
    background-color: var(--background-secondary);
}

.kvl-row + .cm-widgetBuffer + .cm-formatting-link-string {
    display: none;
}

.kvl-key-inner > *,
.kvl-value > * {
    display: inline;
    margin: 0;
}

.kvl-key-inner ul {
    line-height: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.kvl-key-inner ul li {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.kvl-key-inner ul li input {
    margin: 0 10px 0 0 !important;
}

.kvl-table,
.kvl-table td {
    border: 0 !important;
}

.kvl-table tr.kvl-row-even {
    background-color: var(--background-secondary);   
}

.setting-item.foldable-setting {
    transition: all .5s ease-out;
    overflow: hidden;
    box-sizing: border-box;
}
.setting-item.foldable-setting.disabled {
    height: 0;
    padding: 0;
}

.kvl-table .list-bullet {
    display: none;
}